<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bu benim blog sitem</title>
</head>
<body>
<h1>MERHABA BLOG SİTEME HOŞ GELDİNİZ</h1>
<P>Bugün stajımın 11. günü ve bu benim ilk blog sitem</P>
<h2>HTML İLE İLK TANIŞMA</h2>
<P>Bugün ilk kez html  ile tanıştım ve bunlar benim ilk html dili ile  yazdığım kodlardır </P>
<p>Şimdi  html  üzerine  araştırma ve çalışma yapıyorum  bazı uygulamaar yapmaya çalışıyorum html işaretleme diline aşina olabilmek için </p>

</body>
</html>